.wrap {
  background-color: #f0f0f0;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  gap: 20px;
}
.card {
  flex-grow: 1;
  background-color: cadetblue;
  padding: 25px;
  border-radius: 20px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;

  &:hover {
    flex-grow: 3;
  }

  &:nth-child(1) {
    background-image: url(/public/sale-1.png);
  }
  &:nth-child(2) {
    background-image: url(/public/sale-2.png);
  }
  &:nth-child(3) {
    background-image: url(/public/sale-3.png);
  }
  &:nth-child(4) {
    background-image: url(/public/sale-4.png);
  }
}
